<div class="max-w-md w-full">
  <!-- 操作ガイド -->
  <div class="mb-4 p-4">
    <a class="font-bold text-xl text-gray-900" href="">操作ガイド</a>
    <br><br>
    <p class="ml-2">
      予算を守る家計簿は
      <br><strong>「毎月決まった金額に消費を抑えたい！」</strong>
      <br>と思いつつ、なんだかんだ予算オーバーをしてしまうあなたの家計を支えたい。
      <br>予算を設定し、支出を管理していきましょう。
    </p>
  </div>
</div>

<!-- 基本操作 -->
<div>
  <a class="btn btn-ghost text-xl text-gray-900" href="">基本操作</a>
</div>

<div class="carousel relative z-0 flex overflow-x-auto px-4 py-4 rounded-lg" style="gap:16px; scroll-snap-type: x mandatory; -webkit-overflow-scrolling: touch;">
  <!-- その１ -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
        <%= image_tag "tutorial_money_files", class: "card-img-top", width:"300", height:"200" %>
        </figure> 
        <br>
        <h2 class="card-title text-sm font-bold mb-2">
          その1: 家計簿ファイルを作りましょう
        </h2>
        <div id="toggle-basic-1">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden", id="basic-1">
          <p>
            ここでいう「ファイル」は「どのお財布から出すか」という考え方に近いです。<br>
            個人の財布、家族の財布、仕事の財布.. のように自由にファイルを作ってみてください。
          </p>
          <div class="card-actions" style="display: flex; margin-top:4px;">
            <%= link_to new_money_file_path, class: "btn", style:"background-color:#FFCC66;" do %>早速、ファイルを作ってみる<% end %>
            <br>
            <p>
                ファイルを作成したら、次は予算の登録に移ります。<br>
                「このファイルをCheck Now」ボタンを押して進みましょう。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- その２ -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
          <%= image_tag "tutorial_budgets", class: "card-img-top", width:"300", height:"200" %>
        </figure>
        <br>
        <h2 class="card-title text-sm font-bold mb-2">
          その2: カテゴリーと予算を設定しましょう
        </h2>
        <div id="toggle-basic-2">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden", id="basic-2">
          <p>
            カテゴリーと予算は、お財布の中のポケットと、そこに入れる金額を意味します。<br>
            例えば「食費は30000円」と登録する際、「食費」がカテゴリー、「30000円」がその予算になります。
          </p>
          <div class="card-actions" style="display: flex; margin-top:4px;">
            <p>
              予算を作成したら、次は支出データの登録に移ります。<br>
              「支出データをCheck Now」ボタンを押して進みましょう。
            </p>
          </div>
        </div>
    </div>
    </div>
  </div>

  <!-- その３ -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
        <%= image_tag "tutorial_payments", class: "card-img-top", width:"300", height:"200" %>
        </figure>
        <br><br>
        <h2 class="card-title text-sm font-bold mb-2">
          その3: 支出データをこまめに登録しましょう
        </h2>
        <div id="toggle-basic-3">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden" id="basic-3">
          <p>
          ここでは支出データを管理していきます。<br>
          支出データには、店舗や支払い方法を併せて登録することができます。
          </p>
          <p>
          <%= link_to new_payment_path, class: "btn", style:"background-color:#FFCC66;" do %>
            早速、支出データを作ってみる
          <% end %>
          <p>※ あらかじめ家計簿ファイルと予算の登録が必要です。</p>
          <br>
          <p>
          支出の登録はこの画面の「支出データを新規作成」ボタンから登録するか<br>
          ナビゲーションバーの「支出を登録する」ボタンから登録できます。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4 text-center">
        <h2 class="card-title text-sm font-bold mb-2 pt-2 mx-auto">
          基本操作のおさらい
        </h2>
        <p>家計簿ファイルを登録<br>
        <i class="fa-solid fa-arrow-down"></i><br>
       「予算を作成」<br>
        <i class="fa-solid fa-arrow-down"></i><br>
        「支出データを登録」</p>
        <br>
        <p>
        簡単ですね。それでは素敵な家計生活をお送りください!<br>
        See you again!
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-basic-1").addEventListener("click", function() {
    const filterForm = document.getElementById("basic-1");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-basic-2").addEventListener("click", function() {
    const filterForm = document.getElementById("basic-2");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-basic-3").addEventListener("click", function() {
    const filterForm = document.getElementById("basic-3");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>

<br>
<!-- その他の操作 -->
<div>
  <a class="btn btn-ghost text-xl text-gray-900" href="">その他の操作</a>
</div>

<div class="carousel relative z-0 flex overflow-x-auto px-4 py-4 rounded-lg" style="gap:16px; scroll-snap-type: x mandatory; -webkit-overflow-scrolling: touch;">
  <!-- カテゴリー -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
        <%= image_tag "tutorial_categories", class: "card-img-top", width:"300", height:"200" %>
        </figure> 
        <br>
        <h2 class="card-title text-sm font-bold mb-2">
          カテゴリーを管理しよう
        </h2>
        <div id="toggle-category">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden" id="category">
          <p> 予算を登録するときに登録したカテゴリーは、ナビバーの「カテゴリー」から管理することができます。</p>
          <p> カテゴリーの名前をクリックすると、そのカテゴリーがつけられた支出を確認することもできます。</p>
          <div class="card-actions" style="display: flex; margin-top:4px;">
            <%= link_to categories_path, class: "btn", style:"background-color:#FFCC66;" do %>
                登録したカテゴリーを管理する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 支払い方法 -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
        <%= image_tag "tutorial_pay_methods", class: "card-img-top", width:"300", height:"200" %>
        </figure> 
        <br><br>
        <h2 class="card-title text-sm font-bold mb-2">
          支払い方法を管理しよう
        </h2>
        <div id="toggle-paymethod">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden" id="paymethod">
          <p> 支出を登録するときに登録した支払い方法は、ナビバーの「支払い方法」から管理することができます。</p>
          <p> 支払い方法の名前をクリックすると、その支払い方法で登録されてた支出を確認することもできます。</p>
          <div class="card-actions" style="display: flex; margin-top:4px;">
            <%= link_to pay_methods_path, class: "btn", style:"background-color:#FFCC66;" do %>
              登録した支払い方法を管理する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 店舗 -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
          <%= image_tag "tutorial_shops", class: "card-img-top", width:"300", height:"200" %>
        </figure> 
        <br><br>
        <h2 class="card-title text-sm font-bold mb-2">
          店舗を管理しよう
        </h2>
        <div id="toggle-shop">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden" id="shop">
          <p> 支出を登録するときに登録した店舗は、ナビバーの「店舗」から管理することができます。</p>
          <p> 店舗の名前をクリックすると、その店舗で登録された支出を確認することもできます。</p>
          <div class="card-actions" style="display: flex; margin-top:4px;">
            <%= link_to shops_path, class: "btn", style:"background-color:#FFCC66;" do %>
              登録した店舗を管理する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 支出タイムライン -->
  <div class="carousel-item flex-none text-left scroll-snap-center rounded-lg border-gray-300" style="width:300px; border-radius: 16px;">
    <div class="card bg-white">
      <div class="card-body p-4">
        <figure class="text-left">
        <%= image_tag "tutorial_timeline", class: "card-img-top", width:"300", height:"200" %>
        </figure> 
        <br><br>
        <h2 class="card-title text-sm font-bold mb-2">
          全ての支出を一覧で確認しよう
        </h2>
        <div id="toggle-timeline">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="hidden" id="timeline">
          <p> ファイルや予算にとらわれず支出データを確認することができます。</p>
          <div class="card-actions" style="display: flex; margin-top:4px;">
            <%= link_to timeline_path, class: "btn", style:"background-color:#FFCC66;" do %>
              全ての支出データを確認する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-category").addEventListener("click", function() {
    const filterForm = document.getElementById("category");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-paymethod").addEventListener("click", function() {
    const filterForm = document.getElementById("paymethod");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-shop").addEventListener("click", function() {
    const filterForm = document.getElementById("shop");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggle-timeline").addEventListener("click", function() {
    const filterForm = document.getElementById("timeline");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
    }
  });
</script>