<div class="mx-w-md w-full">
  <div>
    <div style="height:40px; paddig-top:0px;">
      <%= link_to "", class: "btn btn-ghost text-sm", style:"padding-right: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i>店舗
      <% end %>
    </div>
    <a class="btn btn-ghost text-xl gray-900" href="/">登録された店舗</a>
  </div>
</div>

<a href="#" class="btn btn-ghost text-sm" id="new-shop-link">新しい店舗を作成する<i class="fa-solid fa-plus"></i></a>
<!-- 新しい店舗作成フォーム -->
<div id="new-shop-form" class="mt-2" style="display:none;">
  <%= form_with model: Shop.new, url: shops_path, local: true do |shop_form| %>
    <%= shop_form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= shop_form.text_field :name, placeholder: "新しい店舗名", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      <%= shop_form.text_field :address, placeholder: "住所(任意)", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      <%= shop_form.text_field :tel, placeholder: "電話(任意)", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      <%= button_tag type: "submit", class:"px-4" do %>
        <i class="fa-solid fa-check"></i> 
      <% end %>
      <%= link_to shops_path do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  <% end %>
</div>

<br><br>
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
    <tr>
      <th style="padding:10px 42px; text-align:center;">店舗名</th>
      <th style="padding:10px 42px; text-align:center;">住所</th>
      <th style="padding:10px 36px; text-align:center;">連絡先</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td class="px-4" style="text-align:left;"> 
          <%= link_to shop.name, shop_path(shop), class:"underline" %>
        </td>
        <td style="padding:0; text-align:center;">
          <%= shop.address %>
        </td>
        <td style="padding:0; text-align:center;">
          <%= shop.tel %>
        </td>
        <td class="flex">
          <%= link_to "",class: "btn btn-ghost", id:"edit-shop-link", data: { shop_id: shop.id, shop_name: shop.name, shop_address: shop.address, shop_tel: shop.tel } do %>
            <i class="fa-solid fa-pen-to-square"></i>編集
          <% end %>
          <%= button_to shop_path(shop), method: :delete, data: { turbo_confirm: "本当に削除しますか？"  }, class: "btn btn-ghost text-red-500" do %>
            <i class="fa-solid fa-trash"></i>削除
          <% end %>
        </td>
      </tr>
      <!-- 店舗の編集フォーム -->
      <div id="edit-shop-form" class="mt-2 flex flex-row" style="display:none;">
        <%= form_with model: shop, url: shop_path(shop), method: :patch, local: true do |shop_form| %>
          <%= shop_form.hidden_field :user_id, value: current_user.id %>
          <div class="items-center">
            <%= shop_form.text_field :name, id:"shop-name", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
            <%= shop_form.text_field :address, id:"shop-address", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
            <%= shop_form.text_field :tel, id:"shop-tel", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
            <%= button_tag type: "submit", class:"px-4" do %>
              <i class="fa-solid fa-check"></i> 
            <% end %>
            <%= link_to shops_path do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  document.querySelectorAll('.btn#edit-shop-link').forEach(function(button) {
    button.addEventListener('click', function(e) {
      e.preventDefault();

      // ボタンの data-* 属性からカテゴリ情報を取得
      const shopId = e.target.dataset.shopId;
      const shopName = e.target.dataset.shopName;
      const shopAddress = e.target.dataset.shopAddress;
      const shopTel = e.target.dataset.shopTel;

      // フォーム要素とフィールドを取得
      const form = document.getElementById('edit-shop-form');
      const nameField = document.getElementById('shop-name');
      const addressField = document.getElementById('shop-address');
      const telField = document.getElementById('shop-tel');
      const shopEditForm = form.querySelector('form');

      // フォームの名前フィールドにデータを設定
      nameField.value = shopName;
      addressField.value = shopAddress || "";
      telField.value = shopTel || "";

      // フォームのアクションURLを更新
      shopEditForm.action = `/shops/${shopId}`;

      // 現在の行を取得し、その下にフォームを移動
      const row = e.target.closest('tr');
      row.after(form);

      // フォームを表示
      form.style.display = 'block';
    });
  });

  // キャンセルボタンが押されたときの処理
  document.querySelector('#edit-shop-form .cancel-btn').addEventListener('click', function(e) {
    e.preventDefault();
    const form = document.getElementById('edit-shop-form');
    form.style.display = 'none';
  });
</script>

<script>
  document.getElementById('new-shop-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('new-shop-form');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>