<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a class="btn btn-ghost text-xl gray-900" href="#">予算を編集</a>
  </div>
</header>

<div class="container", style="margin: 10px; padding: 24px; background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); max-width: 35rem; width: 100%;">
  <%= form_with model: @budget, local: true, class: "space-y-4" do |form| %>
    <%= form.hidden_field :money_file_id, value: @money_file.id %>
    <br>
    <!-- カテゴリー入力 -->
    <div>
      <%= form.label :category_id, "カテゴリー :", class: "block text-xl text-gray-700" %><br>
      <%= form.collection_select :category_id, @categories, :id, :name, 
      { prompt: "カテゴリーを選択してください" },
      {  style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;"  } %><br>
      <br>
      <a class="btn text-sm" href="#", id="new-category-link">新しいカテゴリーを作成する</a>
    </div>

    <br><br>
    <!-- 画像入力 -->
    <div class="mb-3">
      <%= form.label :budget_image, "画像:", class: "block text-xl text-gray-700" %>
      <br>
        <% if @budget.budget_image.present? %>
          <!-- 現在登録されている画像を表示 -->
          <%= image_tag @budget.budget_image_url, class: "card-img-top", width: "150", height: "100" %>
          <!-- 画像削除用のチェックボックス -->
          <%= form.label :remove_budget_image, "現在の画像を削除する", class: "block text-red-500 mt-2" %>
          <%= form.check_box :remove_budget_image, class: "form-checkbox h-5 w-5 text-red-600" %>
        <% end %>
      <br>
      <%= form.file_field :budget_image, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;", accept: 'image/*' %>
      <%= form.hidden_field :budget_image_cache %>
   </div>

    <br><br>
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 (任意) :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.text_area :description, rows: 3,  style: "margin: 4px; padding: 10px 100px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br><br>
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "予算金額 :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.number_field :amount, min: 0, step: 100, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;"  %>
    </div>

    <br><br>
    <!-- 提出ボタン -->
    <div class="text-center">
      <%= form.submit "予算を作成", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", money_file_path(@money_file), class: "btn" %>
    </div>
  <% end %>
</div>

<!-- 新しいカテゴリー作成フォーム -->
<div id="new-category-form" style="display:none; background-color: white; border: 1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px; margin: 20px auto;">
  <%= form_with model: Category.new, url: categories_path, local: true, class: "space-y-4" do |category_form| %>
    <%= category_form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= category_form.label :name, "カテゴリー名", class: "block text-gray-700" %>
      <%= category_form.text_field :name, class: "w-full", style: "border: 1px solid #ccc;" %>
    </div>
    <br>
    <div class="text-center mt-4">
      <%= category_form.submit "カテゴリーを作成", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", edit_budget_path(money_file_id: @money_file.id), class:"btn" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('new-category-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('new-category-form');
     // ボタンの親要素を取得し、その下にフォームを移動
    const buttonContainer = document.getElementById('new-category-link');
    buttonContainer.after(form);
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>