<div class="navbar max-w-[32rem] w-full">
  <a class="btn btn-ghost text-xl gray-900">予算を編集</a>
</div>

<div class="container bg-white shadow-md", style="padding:24px; border-radius:8px; max-width:400px;">
  <%= form_with model: @budget, url: budget_path, method: :patch, local: true, data: { turbo: false }, class: "space-y-4" do |form| %>
    <!-- 家計簿ファイルを表示する -->
    <div>
      <p><i class="fa-regular fa-folder"></i> <%= @money_file.title %>ファイル</p>
      <%= form.hidden_field :money_file_id, value: @money_file.id %>
    </div>
    <!--予算の設定月-->
    <div>
      <p><%= @budget.year_month.gsub("-","年")+"月" %>の予算</p>
      <%= form.hidden_field :year_month, value: @budget.year_month %>
    </div>

    <br>
    <!-- カテゴリー入力 -->
    <div>
      <%= form.label :category_id, "カテゴリー(必須) :", class: "block text-gray-700" %>
      <%= form.collection_select :category_id, @categories, :id, :name, 
      { prompt: "カテゴリーを選択してください" },
      {  style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;"  } %>
      <br>
      <input type="checkbox" id="new-category-checkbox"> 新しいカテゴリーを作成する
      <div id="new-category-form" style="display:none; margin-top:10px;">
        <%= form.text_field :category_name, placeholder: "新しいカテゴリー名", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      </div>
    </div>

    <br>
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "予算金額(必須) :", class: "block font-medium text-gray-700" %>
      <%= form.number_field :amount, min: 0, step: 100, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;"  %>
    </div>

    <br>
    <!-- 画像入力 -->
    <div>
      <%= form.label :budget_image, "画像:", class: "block text-gray-700" %>
        <% if @budget.budget_image.present? %>
          <!-- 現在登録されている画像を表示 -->
          <%= image_tag @budget.budget_image_url, class: "card-img-top", width: "150", height: "100" %>
          <!-- 画像削除用のチェックボックス -->
          <%= form.label :remove_budget_image, "現在の画像を削除する", class: "block text-red-500 mt-2" %>
          <%= form.check_box :remove_budget_image, class: "form-checkbox h-5 w-5 text-red-600" %>
        <% end %>
      <%= form.file_field :money_file_image, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; max-width:300px;", accept: 'image/*' %>
      <%= form.hidden_field :budget_image_cache %>
   </div>

    <br>
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 :", class: "block font-medium text-gray-700" %>
      <%= form.text_area :description, rows: 3,  style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br>
    <!-- 提出ボタン -->
    <div>
      <%= form.submit "予算を更新", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", money_file_path(@money_file), class: "btn" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('new-category-checkbox').addEventListener('change', function() {
    document.getElementById('new-category-form').style.display = this.checked ? 'block' : 'none';
  });
</script>