<div class="navbar">
  <a class="btn btn-ghost text-xl gray-900" href="">新しい予算を作成</a>
</div>

<div class="container", style="margin: 10px; padding: 24px; background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); max-width: 35rem; width: 100%;">
  <!-- 予算フォーム -->
  <%= form_with model: @budget, local: true, class: "space-y-4" do |form| %>
    <!-- 家計簿のタイトルを表示する -->
    <div>
      <p>家計簿の<%= @money_file.title %>ファイルに登録します</p>
      <%= form.hidden_field :money_file_id, value: params[:money_file_id] %>
    </div>
    
    <br>
    <!-- 年月 -->
    <div>
      <%= form.label :year_month, "何月の予算にしますか :", class: "block text-gray-700" %>
      <%= form.select :year_month, options_for_select(
        (Date.today.year-5..Date.today.year+5).to_a.map { |year| ["#{year}年", year] }, 
        selected: session[:year_month]&.split("-")&.first
      ), 
      { prompt: "選択してください" }, 
      style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; width: 45%;" 
      %>
      <%= form.select :month, options_for_select(
        Date::MONTHNAMES.compact.each_with_index.map { |month, i| ["#{i+1}月", i+1] }, 
        selected: session[:year_month]&.split("-")&.last
      ), 
      { prompt: "月を選択" }, 
      style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; width: 45%;" 
      %>
    </div>

    <br>
    <!-- カテゴリー入力 -->
    <div>
      <%= form.label :category_id, "カテゴリー :", class: "block text-gray-700" %>
      <%= form.collection_select :category_id, @categories, :id, :name,
      { prompt: "カテゴリーを選択してください" },
      { style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" } %>
      
      <!-- 新しいカテゴリーリンク -->
      <a href="#" class="btn btn-ghost text-sm" id="new-category-link">新しいカテゴリーを作成する</a>
    </div>

    <br>
    <!-- 画像入力 -->
    <div class="mb-3">
      <%= form.label :budget_image, "画像:", class: "block text-gray-700" %>
      <%= form.file_field :budget_image, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;", accept: 'image/*' %>
      <%= form.hidden_field :budget_image_cache %>
   </div>
    
    <br>
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 (任意) :", class: "block font-medium text-gray-700" %>
      <%= form.text_area :description, rows: 3, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>
    
    <br>
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "予算金額 :", class: "block font-medium text-gray-700" %>
      <%= form.number_field :amount, min: 0, step: 100, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>
    
    <br>
    <!-- 提出ボタン -->
    <div>
      <%= form.submit "予算を作成", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", money_file_path(params[:money_file_id]), class: "btn" %>
    </div>
  <% end %>
</div>

<!-- 新しいカテゴリー作成フォーム -->
<div id="new-category-form" style="display:none; background-color: white; border: 1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px; margin: 20px auto;">
  <%= form_with model: Category.new, url: categories_path, local: true, class: "space-y-4" do |category_form| %>
    <%= category_form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= category_form.label :name, "カテゴリー名", class: "block text-gray-700" %>
      <%= category_form.text_field :name, class: "w-full", style: "border: 1px solid #ccc;" %>
    </div>
    <br>
    <div class="text-center mt-4">
      <%= category_form.submit "カテゴリーを作成", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", new_budget_path(money_file_id: @money_file.id), class:"btn" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('new-category-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('new-category-form');
    // ボタンの親要素を取得し、その下にフォームを移動
    const buttonContainer = document.getElementById('new-category-link');
    buttonContainer.after(form);
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>
