<div class="navbar max-w-[32rem] w-full">
  <a class="btn btn-ghost text-xl gray-900">新しい予算を作成</a>
  <%= link_to quick_add_path(money_file_id: @money_file.id), class: "btn btn-ghost text-xs px-10", data: { turbo: false } do %>
    クイック作成 <i class="fa-regular fa-copy"></i>
  <% end %>
</div>

<div class="container bg-white shadow-md", style="padding:24px; border-radius:8px; max-width:400px;">
  <!-- 予算フォーム -->
  <%= form_with model: @budget, url: budgets_path, method: :post, local: true, data: { turbo: false }, class: "space-y-4" do |form| %>
    <!-- 家計簿ファイルを表示する -->
    <div>
      <p><i class="fa-regular fa-folder"></i> <%= @money_file.title %>ファイルへ保存</p>
      <%= form.hidden_field :money_file_id, value: @budget.money_file_id %>
    </div>
    
    <br>
    <!-- 年月 -->
    <div>
      <%= form.label :year_month, "何月の予算にしますか(必須) :", class: "block text-gray-700" %>
      <%= form.select :year_month, options_for_select(
        (Date.today.year-5..Date.today.year+5).to_a.map { |year| ["#{year}年", year] }, 
        selected: @budget.year_month&.split("-")&.first ||session[:year_month]&.split("-")&.first
      ), 
      { prompt: "選択してください" }, 
      style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; width: 45%;" 
      %>
      <%= form.select :month, options_for_select(
        Date::MONTHNAMES.compact.each_with_index.map { |month, i| ["#{i+1}月", (i+1).to_i] }, 
        selected: (@budget.year_month&.split("-")&.last.to_i.nonzero? || session[:year_month]&.split("-")&.last.to_i.presence)
      ), 
      { prompt: "月を選択" }, 
      style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; width: 45%;" 
      %>
    </div>

    <br>
    <!-- カテゴリー入力 -->
    <div>
      <%= form.label :category_id, "カテゴリー(必須) :", class: "block text-gray-700" %>
      <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "カテゴリーを選択してください", selected: @budget.category_id },
       { id: "category_select", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" } %> 
      <br>
      <input type="checkbox" id="new-category-checkbox"> 新しいカテゴリーを作成する
      <div id="new-category-form" style="display:none; margin-top:10px;">
        <%= form.text_field :category_name, placeholder: "新しいカテゴリー名", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      </div>
    </div>

    <br>
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "予算金額(必須) :", class: "block font-medium text-gray-700" %>
      <%= form.number_field :amount, min: 0, step: 100, value: @budget.amount, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br>
    <!-- 画像入力 -->
    <div>
      <%= form.label :budget_image, "画像:", class: "block text-gray-700" %>
      <%= form.file_field :money_file_image, value: @budget.description, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; max-width:300px;" , accept: 'image/*' %>
      <%= form.hidden_field :budget_image_cache %>
   </div>
    
    <br>
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 :", class: "block font-medium text-gray-700" %>
      <%= form.text_area :description, rows: 3, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>
    
    <br>
    <!-- 提出ボタン -->
    <div>
      <%= form.submit "予算を作成", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", money_file_path(@money_file.id), class: "btn" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('new-category-checkbox').addEventListener('change', function() {
    document.getElementById('new-category-form').style.display = this.checked ? 'block' : 'none';
  });
</script>
