<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a class="btn btn-ghost text-xl gray-900" href="#">新しい予算を作成</a>
  </div>
</header>

<div class="container mx-auto mt-10 p-6 bg-white shadow-md max-w-lg">
  <!-- 予算フォーム -->
  <%= form_with model: @budget, local: true, class: "space-y-4" do |form| %>
    <%= form.hidden_field :money_file_id, value: @money_file.id %>
    
    <!-- カテゴリー入力 -->
    <div>
      <%= form.label :category_id, "カテゴリー :", class: "block text-xl text-gray-700" %><br>
      <%= form.collection_select :category_id, @categories, :id, :name, 
      { prompt: "カテゴリーを選択してください" },
      { class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" } %><br>
      
      <br>
      <!-- 新しいカテゴリーリンク -->
      <a href="#" class="btn text-sm" id="new-category-link">新しいカテゴリーを作成する</a>
    </div>
    
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 (任意) :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.text_area :description, rows: 3, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>
    
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "予算金額 :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.number_field :amount, min: 0, step: 100, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>
    
    <!-- 提出ボタン -->
    <div class="text-center">
      <%= form.submit "予算を作成", class: "btn btn-primary px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md" %>
      <%= link_to "キャンセル", money_file_path(@money_file), class: "btn text-blue-600 hover:text-blue-800" %>
    </div>
  <% end %>
</div>

<!-- 新しいカテゴリー作成フォーム -->
<div id="new-category-form" style="display:none; background-color: white; border: 1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px; margin: 20px auto;">
  <%= form_with model: Category.new, url: categories_path, local: true, class: "space-y-4" do |category_form| %>
    <%= category_form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= category_form.label :name, "カテゴリー名", class: "block text-gray-700" %>
      <%= category_form.text_field :name, class: "w-full", style: "border: 1px solid #ccc;" %>
    </div>
    <br>
    <div class="text-center mt-4">
      <%= category_form.submit "カテゴリーを作成", class: "btn btn-primary px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded-md" %>
      <%= link_to "キャンセル", new_budget_path(money_file_id: @money_file.id), class:"btn" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('new-category-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('new-category-form');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>
