<div class="mx-w-md w-full">
  <div>
    <div style="height:40px; paddig-top:0px;">
      <%= link_to money_files_path, class: "btn btn-ghost text-sm", style:"padding-right: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i>ホーム<i class="fa-solid fa-chevron-right"></i>
      <% end %>
      <%= link_to money_file_path(@money_file), class: "btn btn-ghost text-sm", style:"padding-left:0px; padding-right: 0px; width:auto; " do %>
        <i class="fa-regular fa-folder"></i><%= @money_file.title %><i class="fa-solid fa-chevron-right"></i>
      <% end %>
      <%= link_to "", class: "btn btn-ghost text-sm", style:"padding-left: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i><%= @budget.year_month.gsub('-', '年') + '月' %> <%= @budget.category.name%>
      <% end %>
    </div>
    <a class="btn btn-ghost text-xl gray-900" href="/">支出データ一覧</a>
  </div>
</div>

<div class="navbar px-4 mb-4">
  <%= link_to new_budget_payment_path(@budget), class: "btn bg-yellow-300 text-gray-800", data: { turbo: false } do %>支出データを新規作成<i class="fa-solid fa-plus"></i><% end %>
</div>

<% if @payments.present? %>
  <!--支出合計表示欄 -->
  <div class="mx-2 mb-4 lg:mr-48">
    <!-- 支払い状況カード -->
    <div class="bg-white shadow-lg border border-gray-300 max-w-md items-center text-center" style="padding-bottom:10px; padding-top:10px;">
        <a href="#" class="font-bold py-2 text-md">支払い状況</a>
        <p class="text-sm">設定予算: <%= @budget.amount %>円</p>
        <p class="text-sm">支出合計: <%= @total_amount %>円</p>
        <p>----------</p>
        <div class="font-bold text-md">
          <% if @remaining_amount > 0 %>
            <p class="text-black"><%= @remaining_amount %>円の <%= @status %>です</p>
          <% else %>
            <p class="text-red-500"><%= -@remaining_amount %>円の <%= @status %>です</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!--絞り込みフォーム-->
  <div class="mx-w-300 justify-start">
    <div class="max-w-md border border-gray-300 font-sm">
      <div class="flex">
        <h1 class="mb-4 mx-4 mt-4">絞り込み欄</h1>
        <%= link_to budget_path(@budget), class: "mx-4 mt-4" do %><i class="fa-solid fa-rotate-left"></i><% end %>
        <button id="toggleFilter"><i class="fa-regular fa-eye-slash"></i></button>
      </div>

      <div id="filterForm" class="hidden">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
          <%= form_with url: budget_path(@budget), method: :get, local: true do %>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">

            <!-- 日付フィルタ -->
            <div class="flex flex-col" style="padding:4px; margin-bottom: 4px;">
              <%= label_tag :date_filter, "日付", class: "block mb-2 text-sm" %>
              <%= select_tag :date_filter, options_for_select(
                    [['選択してください', '']] + @payments.distinct.pluck(:date).map { |date| [date.strftime('%Y-%m-%d'), date.strftime('%Y-%m-%d')] },
                    params[:date_filter]
                  ), class: 'select select-bordered w-full text-sm', onchange: 'this.form.submit();' %>
            </div>

            <!-- 支払い方法フィルタ -->
            <div class="flex flex-col" style="padding:4px; margin-bottom:4px;">
              <%= label_tag :pay_method_filter, "支払い方法", class: "block mb-2 text-sm" %>
              <%= select_tag :pay_method_filter, options_for_select(
                  [['選択してください', '']] + @pay_methods.map { |method| [method.name, method.id] },
                  params[:pay_method_filter]
                  ), class: 'select select-bordered w-full text-sm', onchange: 'this.form.submit();' %>
            </div>

            <!-- 店舗フィルタ -->
            <div class="flex flex-col" style="padding:4px; margin-bottom:4px;">
              <%= label_tag :shop_filter, "店舗", class: "block mb-2 text-sm" %>
              <%= select_tag :shop_filter, options_for_select(
                  [['選択してください', '']] + @shops.map { |shop| [shop.name, shop.id] },
                  params[:shop_filter]
                  ), class: 'select select-bordered w-full text-sm', onchange: 'this.form.submit();' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <!-- Paymentのindexをレンダー -->
  <%= render "payments/index" %>

<!--支出データの登録がない場合-->
<% else %>
<p class="ml-4 text-gray-700"> 支出データの登録がありません</p>
<% end %>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggleFilter").addEventListener("click", function() {
    const filterForm = document.getElementById("filterForm");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-regular fa-eye"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-regular fa-eye-slash"></i>';
    }
  });
</script>