<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a href="#" class="btn btn-ghost text-xl">出金一覧</a>
    <p class="block">カテゴリー名: <%= @budget.category.name%></p>
  </div>
</header>

<div class="block mx-auto max-w-md">
  <div class="card bg-white shadow-lg rounded-lg p-6 border border-gray-300">
    <div class="card-body">
      <p class="text-gray-800 font-semibold mb-2">設定予算: <%=@budget.amount %>円</p>
      <p class="text-gray-800 font-semibold mb-2">支出合計: <%= @total_amount %>円</h1>
      <br>
      ------------------
      <div style="font-weight: bold; text-size:large;">
        <% if @remaining_amount > 0 %>
          <p style="color: black"><%= @remaining_amount %>円の <%= @status %>です</p>
        <% else %>
          <p style="color: red"><%= -@remaining_amount %>円の <%= @status %>です</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="navbar">
  <%= link_to new_budget_payment_path(@budget), class: "btn btn-primary" do %>支出データを新規作成<% end %>
  <%= link_to money_file_path(@money_file), class: "btn" do %>この家計簿の予算一覧へ戻る<% end %>
</div>

<br>
<!-- Heroセクション で ThemeController -->
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <p class="flex">支払い方法で絞り込み</p>
    <span class="label-text">カード</span>
    <label class="flex cursor-pointer gap-2">
    <input type="checkbox" value="synthwave" class="toggle theme-controller" />
    <span class="label-text">表</span><input type="checkbox" value="synthwave" class="toggle theme-controller" />
    </label>
  </div>
</div>


<br><br>
<!-- Paymentのindexをレンダー -->
<%= render "payments/index" %>
