<div class="mx-w-md w-full">
  <div>
    <a class="btn btn-ghost text-xl gray-900" href="/">ユーザー情報</a>
  </div>
</div>

<div class="container", style="margin: 10px; padding: 24px; background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); max-width: 35rem; width: 100%;">
  <div class="block">
    <label>名前</label>
    <h1><%= @user.name %></h1>
    <br>
    <label>メールアドレス</label>
    <p><%= @user.email %></p>
    <br>
    <label>パスワード</label>
    <p>******</p>
  </div>
  <br>
  <div class="card-actions flex space-x-2">
    <%= link_to "", class: "btn", id:"edit-user-link" do %>
      <i class="fa-solid fa-pen-to-square"></i>編集
    <% end %>
    <%= link_to user_path(@user), method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline btn-error text-gray-800" do %>
      <i class="fa-solid fa-trash"></i>削除
    <% end %>
  </div>
</div>


<div id="edit-user-form" style="display:none; background-color: white; border: 1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px; margin: 20px;">
  <%= form_with model: @user, local: true, class: "space-y-4" do |user_form| %>
    <div>
      <%= user_form.label :name, "名前", class: "block text-gray-700" %>
      <br>
      <%= user_form.text_field :name, class: "w-full", style: "border: 1px solid #ccc;" %>
    </div>
    <br>
    <div>
      <%= user_form.label :email, "メールアドレス", class: "block text-gray-700" %>
      <%= user_form.text_field :email, class: "w-full", style: "border: 1px solid #ccc;" %>
    </div>
    <br>
    <div>
      <%= user_form.label :password, "パスワード", class: "block text-gray-700" %>
      <%= user_form.password_field :password, class: "w-full", style: "border: 1px solid #ccc;" %>
    </div>
    <br>
    <div class="text-center mt-4">
      <%= user_form.submit "ユーザーを更新", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", user_path(@user), class:"btn" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('edit-user-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('edit-user-form');

    const container = document.querySelector('.container');
    container.parentElement.insertBefore(form, container);

    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>

