<div class="mx-w-md w-full">
  <div>
    <div style="height:40px; paddig-top:0px;">
      <%= link_to "", class: "btn btn-ghost text-sm", style:"padding-right: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i>支払い方法
      <% end %>
    </div>
    <a class="btn btn-ghost text-xl gray-900" href="/">登録された支払い方法</a>
  </div>
</div>

<a href="#" class="btn btn-ghost text-sm" id="new-paymethod-link">新しい支払い方法を作成する<i class="fa-solid fa-plus"></i></a>
<!-- 新しい支払い方法作成フォーム -->
<div id="new-paymethod-form" class="mt-2" style="display:none;">
  <%= form_with model: PayMethod.new, url: pay_methods_path, local: true do |paymethod_form| %>
    <%= paymethod_form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= paymethod_form.text_field :name, placeholder: "新しい支払い方法", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      <%= button_tag type: "submit", class:"px-4" do %>
        <i class="fa-solid fa-check"></i> 
      <% end %>
      <%= link_to pay_methods_path do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  <% end %>
</div>

<br><br>
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
    <tr>
      <th>支払い方法</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @pay_methods.each do |pay_method| %>
       <tr>
        <td id="paymethod_name">
          <%= link_to pay_method.name, pay_method_path(pay_method), class:"underline" %>
        </td>
        <td class="flex">
          <%= link_to "#", class: "btn btn-ghost", id: "edit-paymethod-link", data: { paymethod_id: pay_method.id, paymethod_name: pay_method.name } do %>
            <i class="fa-solid fa-pen-to-square"></i>編集
          <% end %>
          <%= button_to pay_method_path(pay_method), method: :delete, data: { turbo_confirm: "本当に削除しますか？"  }, class: "btn btn-ghost btn-outline btn-error text-gray-800" do %>
              <i class="fa-solid fa-trash"></i>削除
          <% end %>
        </td>
      </tr>
      <!-- 支払い方法の編集フォーム -->
      <div id="edit-paymethod-form" class="mt-2" style="display:none;">
        <%= form_with model: pay_method, url: pay_method_path(pay_method), method: :patch, local: true do |paymethod_form| %>
          <%= paymethod_form.hidden_field :user_id, value: current_user.id %>
          <div class="flex items-center">
            <%= paymethod_form.text_field :name, id:"paymethod-name", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
            <%= button_tag type: "submit", class:"px-4" do %>
              <i class="fa-solid fa-check"></i> 
            <% end %>
            <%= link_to pay_methods_path do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  document.querySelectorAll('.btn#edit-paymethod-link').forEach(function(button) {
    button.addEventListener('click', function(e) {
      e.preventDefault();

      // ボタンの data-* 属性からカテゴリ情報を取得
      const paymethodId = e.target.dataset.paymethodId;
      const paymethodName = e.target.dataset.paymethodName;

      // フォーム要素とフィールドを取得
      const form = document.getElementById('edit-paymethod-form');
      const nameField = document.getElementById('paymethod-name');
      const paymethodEditForm = form.querySelector('form');

      // フォームの名前フィールドにデータを設定
      nameField.value = paymethodName;

      // フォームのアクションURLを更新
      paymethodEditForm.action = `/pay_methods/${paymethodId}`;

      // 現在の行を取得し、その下にフォームを移動
      const row = e.target.closest('tr');
      row.after(form);

      // フォームを表示
      form.style.display = 'block';
    });
  });

  // キャンセルボタンが押されたときの処理
  document.querySelector('#edit-paymethod-form .cancel-btn').addEventListener('click', function(e) {
    e.preventDefault();
    const form = document.getElementById('edit-paymethod-form');
    form.style.display = 'none';
  });
</script>

<script>
  document.getElementById('new-paymethod-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('new-paymethod-form');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>