<div class="mx-w-md w-full">
  <div>
    <div style="height:40px; paddig-top:0px;">
      <%= link_to "", class: "btn btn-ghost text-sm", style:"padding-right: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i>支払い方法
      <% end %>
    </div>
    <a class="btn btn-ghost text-xl gray-900" href="/">登録された支払い方法</a>
  </div>
</div>

<a href="#" class="btn btn-ghost text-sm" id="new-paymethod-link">新しい支払い方法を作成する<i class="fa-solid fa-plus"></i></a>

<br><br>
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
    <tr>
      <th>支払い方法</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @pay_methods.each do |pay_method| %>
       <tr>
        <td id="paymethod_name">
          <%= link_to pay_method.name, pay_method_path(pay_method), class:"underline" %>
        </td>
        <td class="flex">
          <%= link_to "#", class: "btn btn-ghost", id: "edit-paymethod-link", data: { paymethod_id: pay_method.id, paymethod_name: pay_method.name } do %>
            <i class="fa-solid fa-pen-to-square"></i>編集
          <% end %>
          <%= link_to pay_method_path(pay_method), method: :delete, data: { turbo_method: :delete }, class: "btn btn-ghost btn-outline btn-error text-gray-800" do %>
            <i class="fa-solid fa-trash"></i>削除
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- 支払い方法の編集フォーム -->
<div id="edit-paymethod-form" style="display:none; background-color: white; border: 1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px; margin: 20px auto;">
  <%= form_with model: @pay_method, url: "", local: true, class: "space-y-4" do |paymethod_form| %>
    <%= paymethod_form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= paymethod_form.label :name, "店舗名", class: "block text-gray-700" %>
      <%= paymethod_form.text_field :name, class: "w-full", style: "border: 1px solid #ccc;",id:"paymethod-name" %>
    </div>
    <br>
    <div class="text-center mt-4">
      <%= paymethod_form.submit "支払い方法を更新", class: "btn", style:"background-color:#FFCC66;" %>
      <%= link_to "キャンセル", pay_methods_path, class:"btn cancel-btn" %>
    </div>
  <% end %>
</div>

<script>
  document.querySelectorAll('.btn#edit-paymethod-link').forEach(function(button) {
    button.addEventListener('click', function(e) {
      e.preventDefault();

      // ボタンの data-* 属性からカテゴリ情報を取得
      const paymethodId = e.target.dataset.paymethodId;
      const paymethodName = e.target.dataset.paymethodName;

      // フォーム要素とフィールドを取得
      const form = document.getElementById('edit-paymethod-form');
      const nameField = document.getElementById('paymethod-name');
      const paymethodEditForm = form.querySelector('form');

      // フォームの名前フィールドにデータを設定
      nameField.value = paymethodName;

      // フォームのアクションURLを更新
      paymethodEditForm.action = `/pay_methods/${paymethodId}`;

      // 現在の行を取得し、その下にフォームを移動
      const row = e.target.closest('tr');
      row.after(form);

      // フォームを表示
      form.style.display = 'block';
    });
  });

  // キャンセルボタンが押されたときの処理
  document.querySelector('#edit-paymethod-form .cancel-btn').addEventListener('click', function(e) {
    e.preventDefault();
    const form = document.getElementById('edit-paymethod-form');
    form.style.display = 'none';
  });
</script>


<!-- 新しい支払い方法作成フォーム -->
<div id="new-paymethod-form" style="display:none; background-color: white; border: 1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px; margin: 20px auto;">
  <%= form_with model: @pay_method, local: true, style: "space-y-4" do |paymethod_form| %>
    <%= paymethod_form.hidden_field :user_id, value: current_user.id %>
      <!--支払い方法名 -->
      <div>
        <%= paymethod_form.label :name, "支払い方法名", class: "block text-gray-700" %>
        <%= paymethod_form.text_field :name, class: "w-full", style: "border: 1px solid #ccc;" %>
      </div>
      <br>
      <div class="text-center mt-4">
        <%= paymethod_form.submit "支払い方法を作成", class: "btn", style:"background-color:#FFCC66;" %>
        <%= link_to "キャンセル", pay_methods_path, class:"btn" %>
      </div>
  <% end %>
</div>

<script>
  document.getElementById('new-paymethod-link').addEventListener('click', function(e) {
    e.preventDefault();
    var form = document.getElementById('new-paymethod-form');

    // ボタンの親要素を取得し、その下にフォームを移動
    const buttonContainer = document.getElementById('new-paymethod-link');
    buttonContainer.after(form);

    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
</script>