<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a href="#" class="btn btn-ghost text-xl"><%= @pay_method.name %>での支出一覧</a>
    <%= link_to "支払い方法の一覧に戻る", pay_methods_path, class: "btn", style:"margin-left:8px;" %>
  </div>
</header>

<div class="block mx-auto max-w-md">
  <div class="card bg-white shadow-lg rounded-lg p-6 border border-gray-300">
    <div class="card-body" style= "background-color: white; width: 300px; margin: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; border-radius: 8px; ">
      <p style="font-family:'Palatino Linotype';">支出合計: <%= @total_amount %>円</h1>
    </div>
  </div>
</div>

<div class="overflow-x-auto">
  <table class="table", style="margin:10px;">
    <thead>
      <tr>
        <th>家計簿</th>
        <th>カテゴリー</th>  <!-- <td> -> <th>に修正 -->
        <th>日付</th>
        <th>タイトル</th>
        <th>詳細</th>
        <th>金額</th>
        <th>店舗名</th>
      </tr>
    </thead>
    <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to payment.budget.money_file&.title, money_file_path(payment.budget.money_file), class:"btn btn-ghost", style:"border: 1px solid #FFCC66;" %></td>
        <td><%= payment.budget.category&.name %></td>
        <td><%= payment.date.strftime('%Y-%m-%d') %></td>  <!-- <th> -> <td>に修正 -->
        <td><%= link_to payment.title, budget_path(payment.budget),class: "btn btn-ghost", style:"border: 1px solid #C0C0C0;" %></td>  <!-- <th> -> <td>に修正 -->
        <td><%= payment.description %></td>
        <td><%= payment.amount %>円</td>
        <td><%= payment.shop&.name || "" %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:right">合計</td>
        <th><%= @total_amount %>円</th>
      </tr>
    </tfoot>
  </table>
</div>