<div class="mx-w-md w-full">
  <div>
    <div style="paddig-top:0px;">
      <%= link_to pay_methods_path, class: "btn btn-ghost text-sm", style:"padding-right: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i>支払い方法<i class="fa-solid fa-chevron-right"></i>
      <% end %>
      <%= link_to "", class: "btn btn-ghost text-sm", style:"padding-left:0px; padding-right: 0px; width:auto; " do %>
        <i class="fa-regular fa-folder"></i><%= @pay_method.name %>
      <% end %>
    </div>
    <a class="btn btn-ghost text-xl gray-900" href="/"><%= @pay_method.name %>の支出一覧</a>
  </div>
</div>

<div class="navbar px-4 mb-2">
  <p class="font-bold">支出合計: <%= @total_amount %>円</h1>
</div>

<!-- 絞り込みフォーム -->
<div class="max-w-md border border-gray-300 p-4">
  <div class="flex items-center justify-between mb-4">
    <h1 class="font-semibold">絞り込み欄</h1>
    <div class="flex items-center space-x-4">
      <%= link_to pay_method_path(@pay_method), class: "text-gray-600 hover:text-blue-60" do %>
        <i class="fa-solid fa-rotate-left"></i>
      <% end %>
      <button id="toggleFilter" class="text-gray-600 hover:text-blue-60">
        <i class="fa-regular fa-eye-slash"></i>
      </button>
    </div>
  </div>

  <div id="filterForm" class="hidden">
    <%= form_with url: pay_method_path(@pay_method), method: :get, local: true do %>
      <div class="space-y-4">
        <!-- 日付フィルタ -->
        <div class="flex flex-col">
          <%= label_tag :year_month_filter, "予算の設定月", class: "block mb-1 text-sm font-medium text-gray-700" %>
          <%= select_tag :year_month_filter, options_for_select(
            [['選択してください', '']] + @budgets.distinct.pluck(:year_month).map { |year_month| 
            formatted_year_month = Date.strptime(year_month, "%Y-%m").strftime("%Y年-%m月")
            [formatted_year_month, year_month]
            },
            params[:year_month_filter]
            ), class: 'select select-bordered w-full text-sm', onchange: 'this.form.submit();' %>
        </div>

        <!-- 店舗フィルタ -->
        <div class="flex flex-col">
          <%= label_tag :shop_filter, "店舗", class:"block mb-1 text-sm font-medium text-gray-700" %>
          <%= select_tag :shop_filter, options_for_select(
            [['選択してください', '']] + @shops.map { |shop| [shop.name, shop.id] },
            params[:shop_filter]
            ), class: 'select select-bordered w-full text-sm', onchange: 'this.form.submit();' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<!-- 支出データテーブル -->
<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>ファイル</th>
        <th style="text-align:center;">カテゴリー</th> 
        <th style="padding:10px 36px; text-align:center;">タイトル</th>
        <th style="padding:10px 36px; text-align:center;">金額</th>
        <th style="padding:10px 36px; text-align:center;">店舗名</th>
      </tr>
    </thead>
    <tbody>
    <% @payments.each do |payment| %>
      <tr style="height:80px;">
        <td style="padding:0; text-align:center;">
          <%= payment.date.strftime('%Y-%m-%d') %>
        </td> 
        <td style="padding:0; text-align:center;">
          <%= link_to payment.budget.money_file&.title, money_file_path(payment.budget.money_file), class:"underline" %>
        </td>
        <td style="padding:0; text-align:center;">
          <%= link_to payment.budget.category&.name, category_path(payment.budget.category), class: "underline" %>
        </td>
        <td style="padding:0; text-align:center;">
          <%= link_to payment.title, budget_path(payment.budget),class: "underline" %>
        </td>
        <td style="padding:0; text-align:center;">
          <%= payment.amount %>円
        </td>
        <td style="padding:0; text-align:center;">
          <% if payment.shop %>
            <%= link_to payment.shop.name, shop_path(payment.shop), class: "underline" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <% if params[:year_month_filter].blank? && params[:shop_filter].blank? %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align:right">合計</td>
          <td><%= @total_amount %>円</td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align:right">合計</td>
          <td><%= @filtered_total_amount %>円</td>
        </tr>
      <% end %>
    </tfoot>
  </table>
</div>

<script>
  // トグルボタンのクリックイベント
  document.getElementById("toggleFilter").addEventListener("click", function() {
    const filterForm = document.getElementById("filterForm");
    const isHidden = filterForm.classList.contains("hidden");

    if (isHidden) {
      filterForm.classList.remove("hidden"); // 表示
      this.innerHTML = '<i class="fa-regular fa-eye"></i>';
    } else {
      filterForm.classList.add("hidden"); // 非表示
      this.innerHTML = '<i class="fa-regular fa-eye-slash"></i>';
    }
  });
</script>