<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a href="#" class="btn btn-ghost text-xl">出金一覧</a>
  </div>
</header>

<!-- Heroセクション で ThemeController -->
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <label class="flex cursor-pointer gap-2">
    <span class="label-text">カード</span>
    <input type="checkbox" value="synthwave" class="toggle theme-controller" />
    <span class="label-text">表</span>
    </label>
  </div>
</div>


<!-- Theme 表で表示 -->
<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>詳細</th>
        <th>金額</th>
        <th>支払い方法</th>
        <th>店舗名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% total_amount = 0 %>
      <% @payments.each do |payment| %>
      <tr>
        <th><%= payment.date.strftime('%Y-%m-%d') %></th>
        <th><%= payment.title %></th>
        <td><%= payment.description %></td>
        <td><%= payment.amount %>円</td>
        <td><%= payment.payment_method&.name %></td>
        <td><%= payment.shop&.name || "" %></td>
        <td><%= link_to "/", class: "btn btn-primary" do %>編集<% end %></td>
      </tr>
      <% total_amount += payment.amount %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">合計</th>
        <td><%= total_amount %>円</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
