<body class="bg-secondary">
  <header>
    <div class="navbar fixed top-0 left-0 w-full z-50">
      <a class="btn btn-ghost text-xl gray-900" href="/"><%= @user.name %> - 家計簿一覧</a>
    </div>
  </header>

    <!-- スペース入れたいだけ -->
  <div class="navbar">
    <%= link_to new_money_file_path, class: "btn btn-primary", data: { turbo: false } do %>家計簿を新規作成<% end %>
    <%= link_to "#", class: "btn" do %>ユーザー情報へ<% end %>
  </div>

  <br><br>
  <% if @money_files.present? %>
  <div class="carousel w-full max-w-full mb-10" style="display: flex;">
    <% @money_files.each do |file| %>
    <div class="carousel-item pr-4 text-left flex-shrink-0 w-80 xs:max-w-xs mx-auto">
        <div class="card bg-secondary w-96 flex shadow-xl mt-10 text-left" style="display: flex; text-left;">
        <div class="card-body">
            <figure class="text-left">
            <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="PiggyBank"
                width="100" height="100"
            />
            </figure>
            <h2 class="card-title"><%= file.title %></h2>
            <p><%= file.description %></p>
            <br>
            <div class="card-actions justify-end">
            <%= link_to money_file_path(file), class: "btn btn-primary" do %>このファイルをCheck Now<% end %>
            </div>
            <div class="card-actions justify-end">
              <%= link_to edit_money_file_path(file), class: "btn" do %>編集<% end %>
              <%= link_to money_file_path(file), method: :delete, data: { turbo_method: :delete }, class: "btn btn-danger" do %>削除<% end %>
            </div>
        </div>
        </div>
    </div>
    <% end %>
  </div>
  <% else %>
    <p> 家計簿の登録がありません</p>
  <% end %>

    <!-- スペース入れたいだけ -->
  <div class="navbar"></div>

  <button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">黒字のみ表示</button>
  <button class="btn">赤字のみ表示</button>
</body>