<div class="navbar max-w-[32rem] w-full">
  <a class="btn btn-ghost text-xl gray-900">新しいファイルを作成</a>
</div>

<div class="container bg-white shadow-md", style="padding:24px; border-radius:8px; max-width:400px;">
  <%= form_with model: @money_file, local: true, class: "space-y-4" do |form| %>

    <!-- タイトル入力 -->
    <div>
    <%= form.label :title, "ファイルのタイトル :", class: "block text-gray-700" %>
    <%= form.text_field :title, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;"  %>
    </div>

    <!-- 説明入力 -->
    <br>
    <div>
    <%= form.label :description, "詳細 (任意) :", class: "block text-gray-700" %>
    <%= form.text_area :description, rows: 3, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;"  %>
    </div>

    <br>
    <!-- 画像入力 -->
    <div>
    <%= form.label :money_file_image, "画像:", class: "block text-gray-700" %>
    <%= form.file_field :money_file_image, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc; max-width:300px;" , accept: 'image/*' %>
    <%= form.hidden_field :money_file_image_cache %>
    </div>

    <!-- 提出ボタン -->
    <br>
    <div>
    <%= form.submit "ファイルを作成", class: "btn", style:"background-color:#FFCC66;" %>
    <%= link_to "キャンセル", money_files_path, class: "btn" %>
    </div>
  <% end %>
</div>