<body class="bg-secondary">
  <header class="mb-6">
    <div class="navbar fixed top-0 left-0 w-full z-50">
      <a class="btn btn-ghost text-xl gray-900" href="#">新しい家計簿を作成</a>
    </div>
  </header>

  <div class="container mx-auto mt-10 p-6 bg-white shadow-md max-w-lg">
    <%= form_with model: @money_file, local: true, class: "space-y-4" do |form| %>
      <!-- タイトル入力 -->
      <br>
      <div>
        <%= form.label :title, "家計簿のタイトル :", class: "block text-xl text-gray-700" %><br>
        <%= form.text_field :title, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <!-- 説明入力 -->
      <br><br>
      <div>
        <%= form.label :description, "詳細 (任意) :", class: "block text-xl text-gray-700" %><br>
        <%= form.text_area :description, rows: 3, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <br><br>
      <!-- 画像入力 -->
      <div>
        <%= form.label :money_file_image, "画像:", class: "block text-xl text-gray-700" %><br>
        <%= form.file_field :money_file_image, class: "form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500", accept: 'image/*' %>
        <%= form.hidden_field :money_file_image_cache %>
      </div>

      <!-- 提出ボタン -->
      <br><br>
      <div class="text-center">
        <%= form.submit "家計簿を作成", class: "btn btn-primary px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md" %>
        <%= link_to "キャンセル", money_files_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</body>