<div class="mx-w-md w-full">
  <div>
    <div style="height:40px; paddig-top:0px;">
      <%= link_to money_files_path, class: "btn btn-ghost text-sm", style:"padding-right: 0px; width:auto;" do %>
        <i class="fa-regular fa-folder"></i>ホーム<i class="fa-solid fa-chevron-right"></i>
      <% end %>
      <%= link_to "", class: "btn btn-ghost text-sm", style:"padding-left:0px; padding-right: 0px; width:auto; " do %>
        <i class="fa-regular fa-folder"></i><%= @money_file.title %>
      <% end %>
    </div>
    <a class="btn btn-ghost text-xl gray-900" href="/">カテゴリー別予算一覧</a>
  </div>
</div>

<div class="navbar px-4 mb-4">
  <%= link_to new_budget_path(money_file_id:@money_file.id), class: "btn bg-yellow-300 text-gray-800", data: { turbo: false } do %>予算を新規作成<i class="fa-solid fa-plus"></i><% end %>
</div>

<div class="mx-4 flex flex-col justify-start sm:justify-center items-start sm:items-center lg:w-80">
  <div class="month-navigation flex items-center justify-between gap-2">
    <% current_month = Date.strptime(session[:year_month], "%Y-%m") %>
    <!-- 前月へのボタン -->
    <%= button_to change_month_money_file_path(@money_file, direction: "prev"), 
        method: :post,
        params: { money_file_id: @money_file.id },
        class: "prev-month btn btn-ghost whitespace-nowrap px-3 py-2" do %>
      <i class="fa-solid fa-backward"></i>前月へ
    <% end %>
    <span class="text-xl font-bold whitespace-nowrap sm:text-center lg:text-left">
      <%= current_month.strftime("%Y年 %m月") %>
    </span>
    <%= button_to change_month_money_file_path(@money_file, direction: "next"), 
        method: :post, 
        params: { money_file_id: @money_file.id },
        class: "next-month btn btn-ghost whitespace-nowrap px-3 py-2" do %>
      次月へ<i class="fa-solid fa-forward"></i>
    <% end %>
  </div>
  <p class="text-lg font-semibold text-center w-full py-2">
    今月の予算の合計は <strong><%= @budgets.sum(:amount) %>円</strong> です
  </p>
</div>

<br>
<%= render "budgets/index" %>