<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th style="padding:10px 36px; text-align:center;">タイトル</th>
        <th style="padding:10px 36px; text-align:center;">詳細</th>
        <th style="padding:10px 36px; text-align:center;">金額</th>
        <th style="padding:10px 36px; text-align:center;">支払い方法</th>
        <th style="padding:10px 36px; text-align:center;">店舗名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr style="height:80px;">
          <td style="padding:0; text-align:center;">
            <%= payment.date.strftime('%Y-%m-%d') %>
          </td>
          <td style="padding:0; text-align:center;">
            <%= payment.title %>
          </td>
          <td style="padding:0; text-align:center;">
            <%= payment.description %>
          </td>
          <td style="padding:0; text-align:center;">
            <%= payment.amount %>円
          </td>
          <td style="padding:0; text-align:center;">
            <%= payment.pay_method&.name || "" %>
          </td>
          <td style="padding:0; text-align:center;">
            <%= payment.shop&.name || "" %>
          </td>
          <td class="flex space-x-2">
            <%= link_to edit_budget_payment_path(@budget,payment), class: "btn" do %><i class="fa-solid fa-pen-to-square"></i>編集<% end %>
            <%= link_to budget_payment_path(@budget, payment), method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline btn-error text-gray-800" do %><i class="fa-solid fa-trash"></i>削除<% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <% if params[:date_filter].blank? && params[:pay_method_filter].blank? && params[:shop_filter].blank? %>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align:right">合計</td>
          <td><%= @total_amount %>円</td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align:right">合計</td>
          <td><%= @filtered_total_amount %>円</td>
        </tr>
      <% end %>
    </tfoot>
  </table>
</div>
