<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a class="btn btn-ghost text-xl gray-900" href="#">支出データを追加</a>
  </div>
</header>

<div class="container mx-auto mt-10 p-6 bg-white shadow-md max-w-lg">
  <%= form_with model: [@budget, @payment], local: true, class: "space-y-4" do |form| %>
    <br>
    <!-- 日付入力 -->
    <div>
      <%= form.label :date, "日付(必須) :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.date_field :date, rows: 3, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <br><br>
    <!-- タイトル入力 -->
    <div>
      <%= form.label :title, "支払いデータのタイトル(必須):", class: "block text-xl text-gray-700" %><br>
      <%= form.text_field :title, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <br><br>
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.text_area :description, rows: 3, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <br><br>
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "支払い金額(必須) :", class: "block font-medium text-xl text-gray-700" %><br>
      <%= form.number_field :amount, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <br><br>
    <!-- 店舗名入力 -->
    <div>
      <%= form.label :shop_id, "店舗名:", class: "block text-xl text-gray-700" %><br>
      <%= form.collection_select :shop_id, Shop.all, :id, :name, 
      { prompt: "カテゴリーを選択してください" },
      { class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" } %><br>
      <br>
      <a class="btn text-sm" href="#">新しい店舗を登録する</a>
    </div>

    <br><br>
    <!-- 支払い方法入力 -->
    <div>
      <%= form.label :pay_method_id, "支払い方法:", class: "block text-xl text-gray-700" %><br>
      <%= form.collection_select :pay_method_id, PayMethod.all, :id, :name, 
        { prompt: "支払い方法を選択してください" },
        { class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" } %>
      <br>
      <a class="btn text-sm" href="#">新しい支払い方法を登録する</a>
    </div>

    <br><br>
    <!-- 提出ボタン -->
    <div class="text-center">
      <%= form.submit "支払いデータを作成", class: "btn btn-primary px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md" %>
      <%= link_to "キャンセル", "#", class: "btn text-blue-600 hover:text-blue-800" %>
    </div>
  <% end %>
</div>