<div class="navbar max-w-[32rem] w-full">
  <a class="btn btn-ghost text-xl gray-900">新しい支出データを作成</a>
</div>

<div class="container bg-white shadow-md", style="padding:24px; border-radius:8px; max-width:400px;">
  <%= form_with model: [@budget, @payment], url: payments_path, method: :post, local: true, data: { turbo: false }, class: "space-y-4" do |form| %>
    
    <!-- 登録先の家計簿ファイルと予算を入力 -->
    <div>
      <%= form.label :budget_id, "登録先 :", class: "block text-gray-700" %>
      <% if @budget %>
        <p><i class="fa-regular fa-folder"></i>
        <%= @money_file.title %><i class="fa-solid fa-chevron-right"></i>
        <i class="fa-regular fa-folder"></i>
        <%= @budget.year_month.gsub('-', '年') + '月' %> <%= @budget.category&.name %></p>
        <%= form.hidden_field :budget_id, value: @budget.id %>
      <% else %>
        <%= form.collection_select :budget_id, @budgets, :id, 
        lambda { |budget| "#{budget.money_file.title} - #{budget.year_month.gsub('-', '年') + '月'} #{budget.category.name}" }, 
        { prompt: "選択してください" },
        { style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" } %>
      <% end %>
    </div>
    
    <br>
    <!-- 日付入力 -->
    <div>
      <%= form.label :date, "日付(必須) :", class: "block font-medium text-gray-700" %>
      <%= form.date_field :date, rows: 3, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br>
    <!-- タイトル入力 -->
    <div>
      <%= form.label :title, "タイトル(必須):", class: "block text-gray-700" %>
      <%= form.text_field :title, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br>
    <!-- 金額入力 -->
    <div>
      <%= form.label :amount, "支払い金額(必須) :", class: "block font-medium text-gray-700" %>
      <%= form.number_field :amount, style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br>
    <!-- 説明入力 -->
    <div>
      <%= form.label :description, "詳細 :", class: "block font-medium text-gray-700" %>
      <%= form.text_area :description, rows: 3, style: "margin: 4px; padding: 15px; border-radius: 8px; border: 1px solid #ccc;" %>
    </div>

    <br>
    <!-- 支払い方法入力 -->
    <div>
      <%= form.label :pay_method_id, "支払い方法 :", class: "block text-gray-700" %>
      <%= form.collection_select :pay_method_id, @pay_methods, :id, :name, 
        { prompt: "支払い方法を選択してください" },
        { style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" } %>
      <br>
      <input type="checkbox" id="new-paymethod-checkbox"> 新しい支払い方法を作成する
      <div id="new-paymethod-form" style="display:none; margin-top:10px;">
        <%= form.text_field :pay_method_name, placeholder: "新しい支払い方法", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      </div>
    </div>


    <br>
    <!-- 店舗名入力 -->
    <div>
      <%= form.label :shop_id, "店舗名 :", class: "block text-gray-700" %>
      <%= form.collection_select :shop_id, @shops, :id, :name, 
      { prompt: "店舗を選択してください" },
      { style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" } %> 
      <br>
      <input type="checkbox" id="new-shop-checkbox"> 新しい店舗を作成する
      <div id="new-shop-form" style="display:none; margin-top:10px;">
        <%= form.text_field :shop_name, placeholder: "新しい店舗", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
        <%= form.text_field :shop_address, placeholder: "住所(任意)", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
        <%= form.text_field :shop_tel, placeholder: "電話(任意)", style: "margin: 4px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" %>
      </div>
    </div>

    <br>
    <!-- 提出ボタン -->
    <div>
      <%= form.submit "支払いデータを作成", class: "btn", style:"background-color:#FFCC66;" %>
      <% if @budget %>
        <%= link_to "キャンセル", budget_path(@budget), class: "btn" %>
      <% else %>
        <%= link_to "キャンセル", money_files_path, class: "btn" %>
      <% end %>
    </div>
  <% end %>
</div>
</div>

<script>
  document.getElementById('new-paymethod-checkbox').addEventListener('change', function() {
    document.getElementById('new-paymethod-form').style.display = this.checked ? 'block' : 'none';
  });
</script>

<script>
  document.getElementById('new-shop-checkbox').addEventListener('change', function() {
    document.getElementById('new-shop-form').style.display = this.checked ? 'block' : 'none';
  });
</script>
