<div class="max-w-md w-full">
  <a class="btn btn-ghost text-xl text-gray-900" href="/">繰越された金額の一覧</a>
</div>

<br>

<div role="tablist" class="tabs tabs-lifted">
  <% @money_files_with_data.each_with_index do |money_file, index| %>
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="<%= money_file[:title] %>" <%= 'checked="checked"' if index == 0 %>/>
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      <p class="px-4 py-2 font-semibold text-sm text-gray-900">繰越合計 <%= money_file[:carry_forward] %>円</p>
      <table class="table w-full text-sm text-gray-700">
        <!-- head -->
        <thead class="bg-gray-100">
          <tr>
            <th class="p-2 text-left">登録月-カテゴリー</th>
            <th class="p-2 text-left">繰越金</th>
          </tr>
        </thead>
        <tbody>
          <% money_file[:budgets].each do |budget| %>
            <tr class="hover:bg-gray-50">
              <td class="p-2">
                <%= link_to money_file_path(money_file[:id]), class: "underline text-blue-600 hover:text-blue-800" do %>
                  <%= budget[:year_month].gsub('-', '年') + '月'%> <%= budget[:category_name]%>
                <% end %>
              </td>
              <td class="p-2">
                <%= budget[:remaining_amount] %> 円
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>