<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title><%= content_for(:title) || "Kakeibo250103" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag "tailwind", "data-turbolinks-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "application", "data-turbolinks-track": "reload", media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <!-- %= javascript_importmap_tags % -->
  </head>

  <body class="bg-secondary">
    <header style="margin-bottom: 1.5rem;">
      <div style="display: flex; justify-content: space-between; align-items: center; background-color: #38b2ac; padding: 0.5rem 1rem;">
        <!-- Navbar Left -->
        <div style="flex: 1;">
          <a href="/" style="font-size: 1.25rem; color: #1a202c; text-decoration: none; font-weight: bold;">予算を守る家計簿</a>
        </div>
        <!-- Navbar Right -->
        <div style="flex: 1; text-align: right;">
          <% if current_user.present? %>
            <p style="display: inline-block; margin-right: 1rem; font-size: 0.875rem; color: #2d3748;">
              ログイン中のユーザー：<%= current_user.name %>
            </p>
            <%= link_to "ログアウト", logout_path, style: "display: inline-block; padding: 0.5rem 1rem; background-color: #4299e1; color: #fff; border-radius: 0.25rem; text-decoration: none;" %>
           <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
