<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title><%= content_for(:title) || "Kakeibo25" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag "application", "data-turbolinks-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "tailwind", "data-turbolinks-track": "reload", media: "all" %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <!-- %= javascript_importmap_tags % -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>

  <body class="flex flex-col min-h-screen bg-yellow-50">
    <header class="flex-none bg-cover bg-center p-4 relative z-10" style="background-image: url('<%= asset_path('header_image') %>');">
      <div class="flex justify-between items-center">
        <!-- Navbar Left -->
        <div>
          <a href="/" class="text-xl font-bold text-gray-800 no-underline w-full">予算を守る家計簿</a>
        </div>

        <!-- Navbar Right -->
        <div class="flex items-center gap-4">
          <!--ユーザー名-->
          <% if current_user %>
            <%= link_to user_path(current_user), class:"text-sm text-right" do %>
              <i class="fa-solid fa-user"></i><%=current_user.name%>さん
            <% end %>
          <% end %>

          <!-- ドロップダウンメニューボタン　-->
          <div class="dropdown dropdown-end">
            <button id="dropdownButton" class="btn btn-outline btn-sm btn-circle">
              <i class="fas fa-bars text-gray-800"></i>
            </button>
            <ul id="dropdownMenu" class="dropdown-content menu p-2 shadow bg-base-100 w-52 hidden" style="z-index:1000;">
              <% if current_user %>
                <li class="p-2"><%= current_user.name %>さん<br><%= @greeting %></li>
                <br>
                <li><a href="<%= money_files_path(current_user) %>">ホーム</a></li>
                <li><hr class="my-1"></li>
                <li><a href="<%= new_payment_path %>">支出データ登録</a></li>
                <li><a href="/timeline">支出タイムライン</a></li>
                <li><hr class="my-1"></li>
                <li><a href="<%= categories_path %>">カテゴリー</a></li>
                <li><a href="<%= pay_methods_path %>">支払い方法</a></li>
                <li><a href="<%= shops_path %>">店舗</a></li>
                <li><hr class="my-1"></li>
                <li><a href="<%= user_path(current_user) %>">ユーザー情報</a></li>
                <li><a href="<%= logout_path %>">ログアウト</a></li>
                <li><hr class="my-1"></li>
                <li><a href="/tutorial">操作ガイド</a></li>
              <% else %>
                <li><a href="<%= login_path %>">ログイン</a></li>
                <li><hr class="my-1"></li>
                <li><a href="/tutorial">操作ガイド</a></li>
                <li><a href="<%= new_user_path %>">ユーザー登録</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main class="flex-grow p-4 z-0">
      <!--エラーメッセージ-->
      <% if flash.present? %>
        <% flash.each do |message_type, message| %>
          <% if message_type.to_sym == :success %>
            <div class="navbar", style= "background-color: lightgreen;" ><%= message %></div>
          <% else %>
            <div class="navbar" style= "background-color: pink;" ><%= message %></div>
          <% end %>
        <% end %>
      <% end %>

      <!--各ビューを返す-->
      <%= yield %>
    </main>

    <footer class="flex-none bg-white text-center border-t border-gray-300 p-4">
      <nav class="flex justify-center space-x-4 mb-2">
        <a class="text-gray-700 hover:underline sm:text-sm md:text-base" href="/service_terms">利用規約</a>
        <a class="text-gray-700 hover:underline sm:text-sm md:text-base" href="/privacy_policy">プライバシーポリシー</a>
        <a class="text-gray-700 hover:underline sm:text-sm md:text-base" href="<%= new_contact_path %>">お問い合わせ</a>
      </nav>
      <p class="text-gray-600 sm:text-sm md:text-base">© 2025. 予算を守る家計簿 </p>
    </footer>
  </body>
</html>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const dropdownButton = document.getElementById("dropdownButton");
  const dropdownMenu = document.getElementById("dropdownMenu");

  // タッチイベントにも対応（スマホでのタッチ）
  document.addEventListener("touchstart", function(event) {
    const isHidden = dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '';
    dropdownMenu.style.display = isHidden ? 'block' : 'none'; // メニューを表示または非表示に切り替え

    event.stopPropagation(); // 他のクリックイベントが反応しないように
  });

  // ドロップダウンメニューの表示/非表示を切り替え
  dropdownButton.addEventListener("click", function(event) {
    const isHidden = dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '';
    dropdownMenu.style.display = isHidden ? 'block' : 'none'; // メニューを表示または非表示に切り替え

    event.stopPropagation(); // 他のクリックイベントが反応しないように
  });

  // ページ外をクリックしたらドロップダウンメニューを閉じる
  document.addEventListener("click", function(event) {
    if (!dropdownMenu.contains(event.target) && !event.target.closest('.dropdown')) {
      dropdownMenu.style.display = 'none'; // メニューを非表示にする
    }
  });
});
</script>
